body {
    font-family: Arial, Helvetica, sans-serif;
}

/* navigation */
#navigation {
    height: 200px;
    height: 20%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a84cac;
}

.navbar nav {
    float: right;
}

.navbar li {
    display: inline-block;
    font-size: 18px;
    margin: center;
    margin-right: 20px;
}

.navbar li a {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    display: block;
    padding: 0px 35px;
}

.navbar img {
    width: 4rem;
    height: 4rem;
}

.nav-left {
    width: 50%;
}

/* middle */
#middle {
    min-height: 700px;
}

.middle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-login h3 {
    color: #a84cac;
    margin: 60px 0 40px 0;
    font-size: 2.5rem;
}

.input {
    font-size: 1.5rem;
    justify-content: space-between;
    width: 580px;
    display: flex;
    padding-bottom: 17px;
}
.inputLength {
    width: 65%;
}
.input2 {
    font-size: 1.5rem;
    margin-top: 3px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* register-start */
.input3 {
    font-size: 1.5rem;
    justify-content: space-between;
    width: 580px;
    height: 50px;
    display: flex;
}
.input4 {
    flex-grow: 80px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    justify-content: space-between;
    width: 580px;
    padding-bottom: 17px;
}
.input4-radio {
    justify-content: space-between;
    gap: 100px;
    margin-right: 100px;
}
/* register-end */
.btn {
    cursor: pointer;
    border-style: none;
    width: 300px;
    border-radius: 30px;
    font-size: 1.3rem;
    background-color: #a84cac;
    color: white;
    padding: 12px;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* homeAdmin-start */
.product-container {
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.product-row {
    margin-top: 0;
    padding: 0;
}

.product-detail {
    background-color: #a84cac;
    width: 100%;
}
.btn-admin {
    background-color: black;
    margin-left: 10ps;

    margin-top: 12px;
    padding: 6px 12px;
}
.btn-updt {
    border-radius: 2;

    font-size: 1rem;

    border: 1px solid transparent;
}
.btn-dlt {
    border-radius: 2;

    font-size: 1rem;

    border: 1px solid transparent;
}
/* footer */
#footer {
    min-height: 30px;
    background-color: #a84cac;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
.footer-text {
    color: white;
}

@media only screen and (max-width: 535px) {
    .navbar {
        line-height: 60px;
        display: inline-block;
        font-size: 18px;
        margin: auto;
        margin-right: 10px;
        text-align: center;
        padding-top: 20px;
    }
}
